@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Pictures/Bili.jpg" height="200px" />

<p>My name is Bilyana and my passion is meaningful conversations.
This is the place where I share conversations, written and colourful expressions.

My deifnition of a meaningful conversation is: an exchange of words, expressions, colours or else which leaves you with the feeling that time has passed both quickly and lasted an eternity and that you had the time of your life while your spirit conversed with another spirit.

If you ask me what I do - I am a Creativity and Change consultant. I inspire happy workplaces and meaninful conversations. Feel free to reach me at bilyana_g@yahoo.com or leave me a comment on this page.</p>
