@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
     
<img src="~/Images/Meaningful conversations_final.jpg" />

</div>

<div class="row">
    <div class="col-md-4">
        <h2>H2H conversation</h2>
        <p>
            This is the space for meaningful conversations between me and other humans. Or me witnessing and overhearning other humans converse.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Read H2H", "Index", "H2HPost")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Colourful conversation</h2>
        <p>Meaningful conversations in colour.</p>
        <p><a class="btn btn-default" @Html.ActionLink("View ArtPost", "Index", "ArtPost")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Writen conversation</h2>
        <p>Conversations between myself and the creative spirit in written.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Read WrittenConv", "Index", "WrittenConv")</a></p>
    </div>
</div>